body {
    margin: 0;
    padding: 0;
    background-image: url('../images/fundo\ preto-all.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.quadrado-branco {
    width: 750px;
    /* Largura do quadrado */
    height: 500px;
    /* Altura do quadrado */
    background-color: white;
    /* Cor de fundo branca */
    border: 2px solid #000;
    /* Borda preta */
    border-radius: 50px;
}

.quadrado-branco img {
    width: 250px;
    /* Largura da imagem */
    height: 150px;
    /* Altura automática para manter a proporção */
    right: -250px;
    margin-top: 100px;
    position: relative;
}

.extrato {
    /**Extrato**/
    font-family: Arial Black;
    background-color: #ffffff;
    /* Fundo vermelho */
    color: #ff0000;
    /* Texto branco */
    padding: 10px 20px;
    /* Espaçamento interno */
    border-left: 10px solid #ffffff;
    /* Borda esquerda vermelha */
    border-right: 10px solid transparent;
    /* Borda direita transparente */
    border-top: 1px solid #ffffff;
    border-top-right-radius: 20px;
    /* Canto superior esquerdo arredondado */
    border-bottom-right-radius: 20px;
    /* Canto inferior esquerdo arredondado */
    font-size: 20px;
    height: 20px;
    left: 0px;
    top: 150px;
    position: absolute;
    line-height: 20px;
    text-decoration: none;
}

.cardapio {
    /*Cardapio*/
    font-family: Arial Black;
    background-color: #ffffff;
    /* Fundo vermelho */
    color: #ff0000;
    /* Texto branco */
    padding: 10px 20px;
    /* Espaçamento interno */
    border-left: 10px solid #ffffff;
    /* Borda esquerda vermelha */
    border-right: 10px solid transparent;
    /* Borda direita transparente */
    border-top: 1px solid #ffffff;
    border-top-right-radius: 20px;
    /* Canto superior esquerdo arredondado */
    border-bottom-right-radius: 20px;
    /* Canto inferior esquerdo arredondado */
    font-size: 20px;
    height: 20px;
    left: 0px;
    top: 400px;
    position: absolute;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none;
}

.avaliacao {
    /*Avaliação*/
    font-family: Arial Black;
    background-color: #ffffff;
    /* Fundo vermelho */
    color: #ff0000;
    /* Texto branco */
    padding: 10px 20px;
    /* Espaçamento interno */
    border-left: 10px solid #ffffff;
    /* Borda esquerda vermelha */
    border-right: 10px solid transparent;
    /* Borda direita transparente */
    border-top: 1px solid #ffffff;
    border-top-left-radius: 20px;
    /* Canto superior esquerdo arredondado */
    border-bottom-left-radius: 20px;
    /* Canto inferior esquerdo arredondado */
    font-size: 20px;
    height: 20px;
    right: 0px;
    top: 150px;
    position: absolute;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none;
}

.cartao {
    /*Cartão*/
    font-family: Arial Black;
    background-color: #ff0000;
    /* Fundo vermelho */
    color: white;
    /* Texto branco */
    padding: 10px 35px;
    /* Espaçamento interno */
    border-left: 10px solid #ff0000;
    /* Borda esquerda vermelha */
    border-right: 10px solid transparent;
    /* Borda direita transparente */
    border-top: 1px solid #ff0000;
    border-top-left-radius: 20px;
    /* Canto superior esquerdo arredondado */
    border-bottom-left-radius: 20px;
    /* Canto inferior esquerdo arredondado */
    font-size: 20px;
    height: 20px;
    right: 0px;
    top: 400px;
    position: absolute;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none;  
}

.saldo_valor {
    font-family: Arial Black;
    font-size: 50px;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(85, 84, 84);
    text-decoration: none;
}


.carregar-cartao {
    font-family: Arial Black;
    border: 2px solid #FF0000;
    /* Borda vermelha */
    border-radius: 30px;
    /* Arredondamento das bordas */
    background-color: #ff0000;
    /* Cor de fundo vermelho */
    color: #ffffff;
    /* Cor do texto branco */
    font-size: 20px;
    height: 50px;
    /* Altura desejada */
    width: 200px;
    /* Largura desejada */
    position: absolute;
    bottom: 20%;
    /* Ajuste a posição inferior conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
    line-height: 240%;
    text-decoration: none;
}

.botao-sair {
    font-family: Arial Black;
    color: #000000;
    /* Cor do texto preto */
    font-size: 20px;
    height: 20px;
    /* Altura desejada */
    width: 50px;
    /* Largura desejada */
    position: absolute;
    bottom: 14%;
    text-align: center;
    cursor: pointer;
    line-height: 100%;
    text-decoration: none;
}
