body {
    margin: 0;
    padding: 0;
    background-image: url('../images/fundo\ preto-all.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.quadrado-branco {
    width: 750px;
    /* Largura do quadrado */
    height: 500px;
    /* Altura do quadrado */
    background-color: white;
    /* Cor de fundo branca */
    border: 2px solid #000;
    /* Borda preta */
    border-radius: 50px;
}

.quadrado-branco img {
    width: 250px;
    /* Largura da imagem */
    height: 150px;
    /* Altura automática para manter a proporção */
    right: -250px;
    margin-top: 100px;
    position: relative;
}

.extrato {
    /**Extrato**/
    font-family: Arial Black;
    background-color: #ffffff;
    /* Fundo vermelho */
    color: #ff0000;
    /* Texto branco */
    padding: 10px 20px;
    /* Espaçamento interno */
    border-left: 10px solid #ffffff;
    /* Borda esquerda vermelha */
    border-right: 10px solid transparent;
    /* Borda direita transparente */
    border-top: 1px solid #ffffff;
    border-top-right-radius: 20px;
    /* Canto superior esquerdo arredondado */
    border-bottom-right-radius: 20px;
    /* Canto inferior esquerdo arredondado */
    font-size: 20px;
    height: 20px;
    left: 0px;
    top: 150px;
    position: absolute;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none;
}

.cardapio {
    /*Cardapio*/
    font-family: Arial Black;
    background-color: #ff0000;
    /* Fundo vermelho */
    color: white;
    /* Texto branco */
    padding: 10px 20px;
    /* Espaçamento interno */
    border-left: 10px solid #ff0000;
    /* Borda esquerda vermelha */
    border-right: 10px solid transparent;
    /* Borda direita transparente */
    border-top: 1px solid #ff0000;
    border-top-right-radius: 20px;
    /* Canto superior esquerdo arredondado */
    border-bottom-right-radius: 20px;
    /* Canto inferior esquerdo arredondado */
    font-size: 20px;
    height: 20px;
    left: 0px;
    top: 400px;
    position: absolute;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none;
}
.cartao {
    /*Cartão*/
    font-family: Arial Black;
    background-color: #ffffff;
    /* Fundo vermelho */
    color: #ff0000;
    /* Texto branco */
    padding: 10px 35px;
    /* Espaçamento interno */
    border-left: 10px solid #ffffff;
    /* Borda esquerda vermelha */
    border-right: 10px solid transparent;
    /* Borda direita transparente */
    border-top: 1px solid #ffffff;
    border-top-left-radius: 20px;
    /* Canto superior esquerdo arredondado */
    border-bottom-left-radius: 20px;
    /* Canto inferior esquerdo arredondado */
    font-size: 20px;
    height: 20px;
    right: 0px;
    top: 400px;
    position: absolute;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none;  
}

.avaliacao {
    /*Avaliação*/
    font-family: Arial Black;
    background-color: #ffffff;
    /* Fundo vermelho */
    color: #ff0000;
    /* Texto branco */
    padding: 10px 20px;
    /* Espaçamento interno */
    border-left: 10px solid #ffffff;
    /* Borda esquerda vermelha */
    border-right: 10px solid transparent;
    /* Borda direita transparente */
    border-top: 1px solid #ffffff;
    border-top-left-radius: 20px;
    /* Canto superior esquerdo arredondado */
    border-bottom-left-radius: 20px;
    /* Canto inferior esquerdo arredondado */
    font-size: 20px;
    height: 20px;
    right: 0px;
    top: 150px;
    position: absolute;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none;
}

.segunda{
    font-family: 'Courier New', Courier, monospace Black;
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    text-transform: uppercase; /* texto maiúsculo */
    top: 150px;
    padding: 10px 20px;
    /* Espaçamento interno */
    font-size: 18px;
    text-decoration: none;
    margin-top: -400px;

}
.terca{
    font-family: 'Courier New', Courier, monospace Black;
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    text-transform: uppercase; /* texto maiúsculo */
    top: 150px;
    padding: 10px 20px;
    /* Espaçamento interno */
    font-size: 18px;
    text-decoration: none;
    margin-top: -200px;
}
.quarta{
    font-family: 'Courier New', Courier, monospace Black;
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    text-transform: uppercase; /* texto maiúsculo */
    top: 150px;
    padding: 10px 20px;
    /* Espaçamento interno */
    font-size: 18px;
    text-decoration: none;
    margin-top: 0px;
}
.quinta{
    font-family: 'Courier New', Courier, monospace Black;
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    text-transform: uppercase; /* texto maiúsculo */
    top: 150px;
    padding: 10px 20px;
    /* Espaçamento interno */
    font-size: 18px;
    text-decoration: none;
    margin-top: 200px;

}
.sexta{
    font-family: 'Courier New', Courier, monospace Black;
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    text-transform: uppercase; /* texto maiúsculo */
    top: 150px;
    padding: 10px 20px;
    /* Espaçamento interno */
    font-size: 18px;
    text-decoration: none;
    margin-top: 400px;
    
}


