body {
    margin: 0;
    padding: 0;
    background-image: url('../images/fundo\ preto-all.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.quadrado-branco {
    width: 750px;
    /* Largura do quadrado */
    height: 500px;
    /* Altura do quadrado */
    background-color: white;
    /* Cor de fundo branca */
    border: 2px solid #000;
    /* Borda preta */
    border-radius: 50px;
}

.quadrado-branco img {
    width: 250px;
    /* Largura da imagem */
    height: 150px;
    /* Altura automática para manter a proporção */
    right: -250px;
    margin-top: 100px;
    position: relative;
}

.extrato {
    /**Extrato**/
    font-family: Arial Black;
    background-color: #ffffff;
    /* Fundo vermelho */
    color: #ff0000;
    /* Texto branco */
    padding: 10px 20px;
    /* Espaçamento interno */
    border-left: 10px solid #ffffff;
    /* Borda esquerda vermelha */
    border-right: 10px solid transparent;
    /* Borda direita transparente */
    border-top: 1px solid #ffffff;
    border-top-right-radius: 20px;
    /* Canto superior esquerdo arredondado */
    border-bottom-right-radius: 20px;
    /* Canto inferior esquerdo arredondado */
    font-size: 20px;
    height: 20px;
    left: 0px;
    top: 150px;
    position: absolute;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none;
}

.cardapio {
    /*Cardapio*/
    font-family: Arial Black;
    background-color: #ffffff;
    /* Fundo vermelho */
    color: #ff0000;
    /* Texto branco */
    padding: 10px 20px;
    /* Espaçamento interno */
    border-left: 10px solid #ffffff;
    /* Borda esquerda vermelha */
    border-right: 10px solid transparent;
    /* Borda direita transparente */
    border-top: 1px solid #ffffff;
    border-top-right-radius: 20px;
    /* Canto superior esquerdo arredondado */
    border-bottom-right-radius: 20px;
    /* Canto inferior esquerdo arredondado */
    font-size: 20px;
    height: 20px;
    left: 0px;
    top: 400px;
    position: absolute;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none;
}

.cartao {
    /*Cartão*/
    font-family: Arial Black;
    background-color: #ffffff;
    /* Fundo vermelho */
    color: #ff0000;
    /* Texto branco */
    padding: 10px 35px;
    /* Espaçamento interno */
    border-left: 10px solid #ffffff;
    /* Borda esquerda vermelha */
    border-right: 10px solid transparent;
    /* Borda direita transparente */
    border-top: 1px solid #ffffff;
    border-top-left-radius: 20px;
    /* Canto superior esquerdo arredondado */
    border-bottom-left-radius: 20px;
    /* Canto inferior esquerdo arredondado */
    font-size: 20px;
    height: 20px;
    right: 0px;
    top: 400px;
    position: absolute;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none;
}

.avaliacao {
    /*Avaliação*/
    font-family: Arial Black;
    background-color: #ff0000;
    /* Fundo vermelho */
    color: white;
    /* Texto branco */
    padding: 10px 20px;
    /* Espaçamento interno */
    border-left: 10px solid #ff0000;
    /* Borda esquerda vermelha */
    border-right: 10px solid transparent;
    /* Borda direita transparente */
    border-top: 1px solid #ff0000;
    border-top-left-radius: 20px;
    /* Canto superior esquerdo arredondado */
    border-bottom-left-radius: 20px;
    /* Canto inferior esquerdo arredondado */
    font-size: 20px;
    height: 20px;
    right: 0px;
    top: 150px;
    position: absolute;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none;
}


.menu-line {
    text-align: center;
    padding: 10px 0;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
}

.menu-text {
    font-family: Arial Black;
    padding: 5px 10px;
    display: inline-block;
    font-size: 40px;
    color: white;
}

.quadrado-branco {
    width: 750px;
    /* Largura do quadrado */
    height: 400px;
    /* Altura do quadrado */
    background-color: white;
    /* Cor de fundo branca */
    border: 2px solid #000;
    /* Borda preta */
    border-radius: 50px;
}
.estrelas{
    position: absolute;
    
    box-sizing  : 40px;
}

.deixarAvaliacao{
    color: #555; /* Cor do texto do placeholder */
    font-size: 16px; /* Tamanho do texto do placeholder */
    font-weight: bold; /* Negrito */
    letter-spacing: 1px;
    width: 250px;
    word-wrap: break-word; /* Quebra a palavra para a próxima linha se não houver espaço */
}

/*.imagem_avaliacoes{
    margin-top: 20px;
}
<div class="imagem_avaliacoes">
<img src="" alt="titulo">

</div>*/