@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url('../images/fundo\ preto-all.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.quadrado-branco {
    width: 750px;
    /* Largura do quadrado */
    height: 500px;
    /* Altura do quadrado */
    background-color: white;
    /* Cor de fundo branca */
    border: 2px solid #000;
    /* Borda preta */
    border-radius: 50px;
}

.quadrado-branco img {
    width: 250px;
    /* Largura da imagem */
    height: 150px;
    /* Altura automática para manter a proporção */
    right: -250px;
    margin-top: 100px;
    position: relative;
}

.extrato {
    /**Extrato**/
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    background-color: #ffffff;
    /* Fundo vermelho */
    color: #ff0000;
    /* Texto branco */
    padding: 10px 20px;
    /* Espaçamento interno */
    border-left: 10px solid #ffffff;
    /* Borda esquerda vermelha */
    border-right: 10px solid transparent;
    /* Borda direita transparente */
    border-top: 1px solid #ffffff;
    border-top-right-radius: 20px;
    /* Canto superior esquerdo arredondado */
    border-bottom-right-radius: 20px;
    /* Canto inferior esquerdo arredondado */
    font-size: 20px;
    height: 20px;
    left: 0px;
    top: 150px;
    position: absolute;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none;
}

.cardapio {
    /*Cardapio*/
    font-family: 'Quicksand', sans-serif;
    background-color: #ff0000;
    /* Fundo vermelho */
    color: white;
    /* Texto branco */
    padding: 10px 20px;
    /* Espaçamento interno */
    border-left: 10px solid #ff0000;
    /* Borda esquerda vermelha */
    border-right: 10px solid transparent;
    /* Borda direita transparente */
    border-top: 1px solid #ff0000;
    border-top-right-radius: 20px;
    /* Canto superior esquerdo arredondado */
    border-bottom-right-radius: 20px;
    /* Canto inferior esquerdo arredondado */
    font-size: 20px;
    height: 20px;
    left: 0px;
    top: 400px;
    position: absolute;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none;
}

.cartao {
    /*Cartão*/
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;    
    background-color: #ffffff;
    /* Fundo vermelho */
    color: #ff0000;
    /* Texto branco */
    padding: 10px 35px;
    /* Espaçamento interno */
    border-left: 10px solid #ffffff;
    /* Borda esquerda vermelha */
    border-right: 10px solid transparent;
    /* Borda direita transparente */
    border-top: 1px solid #ffffff;
    border-top-left-radius: 20px;
    /* Canto superior esquerdo arredondado */
    border-bottom-left-radius: 20px;
    /* Canto inferior esquerdo arredondado */
    font-size: 20px;
    height: 20px;
    right: 0px;
    top: 400px;
    position: absolute;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none;
}

.avaliacao {
    /*Avaliação*/
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;    
    background-color: #ffffff;
    /* Fundo vermelho */
    color: #ff0000;
    /* Texto branco */
    padding: 10px 20px;
    /* Espaçamento interno */
    border-left: 10px solid #ffffff;
    /* Borda esquerda vermelha */
    border-right: 10px solid transparent;
    /* Borda direita transparente */
    border-top: 1px solid #ffffff;
    border-top-left-radius: 20px;
    /* Canto superior esquerdo arredondado */
    border-bottom-left-radius: 20px;
    /* Canto inferior esquerdo arredondado */
    font-size: 20px;
    height: 20px;
    right: 0px;
    top: 150px;
    position: absolute;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none;
}


.menu-line {
    text-align: center;
    padding: 10px 0;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
}

.menu-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 400%;
    padding: 5px 10px;
    display: inline-block;
    color: white;
}
.button-list {
    list-style: none;
    margin-top: 50px;
    padding: 0;
    width: 300px;  /* Aumente a largura da lista */
    margin: 0 15px;
}

.button-list li {
    margin: 5px 0;
    margin-top: 20px;
}

.button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    display: block;
    width: 100%;
    padding: 25px;
    /* Aumente o padding para fazer os botões maiores */
    text-align: center;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
    margin-top: 15px;
}

.button:hover {
    background-color: #ff0000;
}